// Use this files to write all the pre-defined stylings
// the @include it according to your needs

@mixin navbar-text{
    color: white;
    text-decoration: none;
    font-family: Staatliches, sans-serif;
}

@mixin card-styling{
    // border-radius: 0.75rem;
    border: 0.01rem solid #fff;
    background-color: white;
}