// This is the styling for glass card
@use "../utilities/variables";
@import "../utilities/mixin";


.glass { //The card itself
    width: 25rem;
    height: 26rem;
    margin: 2rem auto;
    @include card-styling;
    cursor: pointer;
    

    h1 { //The model name
        color: black;
        text-align: center;
        text-shadow: none;
    }

    p, a { //the content
        color: black;
        text-shadow: none;
        padding: 0 2rem;
        font-size: 1.25rem;
        text-decoration: none;
        transition: ease 1s;
    }

    a {
        padding: 0 1rem;
    }
}

.focusCard {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.9);
    background-color: variables.$grey;
    transition: ease 0.2s;
}