// This is the styling for glass card
@import "../utilities/mixin";

.glass { //The card itself
    width: 25rem;
    height: 26rem;
    margin: 2rem auto;
    @include card-styling;
    cursor: pointer;


    h1 { //The model name
        color: black;
        text-align: center;
        text-shadow: none;
    }

    p, a { //the content
        color: black;
        text-shadow: none;
        padding: 0 2rem;
        font-size: 1.25rem;
        text-decoration: none;
        transition: ease 1s;
    }

    a {
        padding: 0 1rem;
    }

    // span { //the animation when hovering the link to the model documentation
    //     background: linear-gradient(black 0 0) 0 100% /var(--d, 0) 0.2rem no-repeat;
    //     transition: 0.7s;

    //     &:hover {
    //         --d: 100%;
    //     }
    // }
}