// Stylings for navigation bar
@import "../utilities/mixin";

.row {
    display: flex;
    width: parent;
    margin-top: 0rem;
    padding-bottom: 1rem;
    

    .column {
        flex: 30% 70%;
        width: 100%;

        .navTitle{
            @include navbar-text;
            font-size: 3.5rem;
            width: 100%;
            text-align: left;
            padding-left: 2rem;
        }

        table {
            font-size: 1.8rem;
            padding-right: 7rem;

            td {
                padding: 0 5rem;
            }

            .navText{
                @include navbar-text;
            }
        }
    }

    text-shadow: 0.25rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
    
}



