// Stylings for navigation bar
@import "../utilities/mixin";

.row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 0rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    
    .column {
        flex: 30% 70%;
        width: 100%;
        text-align: left;

        .navTitle{
            @include navbar-text; //You can look for this styling in the mixin file
            font-size: 3.5rem;
            width: 100%;
            padding-left: 5rem;
        }

        table {
            font-size: 1.8rem;
            padding-right: 7rem;
            height: 100%;

            td {
                padding: 0 4rem;
            }

            .navText{
                @include navbar-text;
            }
        }
    }

    // for both the menu and the title
    text-shadow: 0.25rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
    
}



