
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import 'utilities/_variables';

html {
  box-sizing: border-box;
}

body {
  background-color: $primary_color;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Staatliches, sans-serif;
}
